body{
  background: #1E1E2F;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
button{
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #00D4FF, #007BFF);
  border: none;
  outline: none;
  cursor: pointer;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: rgb(51 51 51 / 60%);
}
.modal__form {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 24px 30px;
  border-radius: 10px;
  background: #2E2E4E;
  box-shadow: 1px 1px 20px -6px #FFFFFF;
  overflow: hidden;
}
.modal__form-title {
  margin: 0 0 32px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.modal__close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
.modal__close:before,
.modal__close:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
}
.modal__close:before {
  transform: rotate(45deg);
}
.modal__close:after {
  position: absolute;
  top: 12px;
  left: 0;
  transform: rotate(-45deg);
}
.modal__form-submit,
.modal-remove__yes{
  display: block;
  padding: 10px;
  margin: 0 auto 8px;
  border-radius: 5px;
  width: fit-content;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.modal__form-reset,
.modal-remove__no{
  align-self: center;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}


.modal__form-contacts {
  position: relative;
  margin: 0 0 25px;
  padding: 8px 0;
  text-align: center;
}
.modal__form-contacts:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -5vw;
  width: 105vw;
  height: 100%;
  opacity: 0.2;
  background: #C8C5D1;
}
.modal__form-add-contacts {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: color ease .3s;
}
.form-contacts__list{
  display: flex;
  flex-flow: column;
  gap: 15px;
  position: relative;
  padding: 0;
  list-style-type: none;
}
.modal-remove__wrap {
  display: flex;
  flex-flow: column;
  position: relative;
  padding: 22px 0 27px;
  width: 450px;
  max-height: 215px;
  border-radius: 10px;
  text-align: center;
  background: #2E2E4E;
  box-shadow: 1px 1px 20px -6px #FFFFFF;
}
.modal-remove__title {
  margin: 0 0 11px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.modal-remove__subtitle {
  margin: 0 auto 25px;
  width: 275px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
